*{
  box-sizing: border-box;
}
h1{
  font-size: 6em;
  color: orange;
  text-align: center;
}

html{
  min-height: 100vh;
  /*cursor: url(../images/fly2.pn),auto;*/
}


body{
  margin: 0;
  background: radial-gradient(orange,brown);
}

.game-info-container{
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
}

.game-info{
  font-size: 4em;
  color: #FFBB89;
}

.game-container{
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  justify-content: center;
  margin: 50px;
  perspective: 500px;
}

.card{
  height: 175px;
  width: 125px;
  position: relative;
}

.card-face{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  backface-visibility:hidden;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  transition: transform 500ms ease-in-out;
}


.cob-web{
  position: absolute;
  width: 47px;
  height: 47px;
  transition: width 100ms ease-in-out, height 100ms ease-in-out;
}

.card-back{
  background: radial-gradient(#ccc,white);
  border-color: orange;
  border-radius: 15px;
  border: 2px solid;
}

.card-back:hover .spider{
  transform: translateY(0);
 
}

.card-back:hover .cob-web{
  width: 52px;
  height: 52px;
}

.spider{
  align-self: flex-start;
  transform: translateY(-10px);
  transition: transform 100ms ease-in-out;
}

.cob-web-top-left{
  transform: rotate(270deg);
  left: 0;
  top: 0;
}

.cob-web-top-right{
  transform: rotate(0deg);
  top: 0;
  right: 0;
}

.cob-web-bottom-left{
  transform: rotate(180deg);
  bottom: 0;
  left: 0;
}

.cob-web-bottom-right{
  transform: rotate(90deg);
  bottom: 0;
  right: 0;
}


/*card front (=================================)*/

.card-front{
  background-color: snow;
  border: 2px solid;
  transform: rotateY(180deg);
}

.card:hover .card-back{
  transform: rotateY(-180deg);
}

.card:hover .card-front{
  transform: rotateY(0);
}


 



.card-value:hover{
  transform: scale(.9);
}